.DS_Store

.vscode/*
*.ipynb_checkpoints*
.virtual_documents/*

__pycache__/*

build/*
dist/*
pyDMS.egg-info/*

# Data
data/*/sentinel_data_download*.txt

data/**/*.SAFE
data/**/*.SEN3
data/**/*.data
data/**/*.dim
data/**/*.jpg
data/**/*.tif

# Images
images/*
!images/thumb_*